* {
    box-sizing: content-box;
}

body {

}

header {
    padding: 35px;
    margin: 20px;
    background-color: #ffffff;
    clear: both;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px;
    margin: 15px;
    border: 10px;

}

  section::after{
    content:" ";
    display: flex; 
    clear: both;
  }

#about {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    float: left;
    margin-bottom: 20px;
    align-items: flex-end;
    align-content: flex-end;
}

#portfolio {

}

#contact {

}

.main {
    padding: 35px;
    margin: 20px;
    background-color: #ffffff;
    display: flex;
}

.h2 {
    clear: both;

}

.p1 {
    float: left;
}

.p2 {

}

footer {
    background-color: #666666;
    padding: 2%;
    width: 100%;
    margin: -1%;
    align-content: baseline;

  }